blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul,
pre{
  margin:0;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

fieldset,
img{
  border:0;
}

li{
  list-style:none;
}

caption,
th{
  text-align:left;
}

q:after,
q:before{
  content:"";
}

input[type=password]{
  ime-mode:disabled;
}

:focus{
  outline:0;
}

html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-size:16px;
  overflow:hidden;
}

body,
button,
input,
select,
textarea,
pre{
  font-size:12px;
  line-height:1.5;
  font-family:-apple-system,
  BlinkMacSystemFont,
  "Helvetica Neue",
  "Arial",
  "PingFang SC",
  "Hiragino Sans GB",
  "STHeiti",
  "Microsoft YaHei",
  "Microsoft JhengHei",
  "Source Han Sans SC",
  "Noto Sans CJK SC",
  "Source Han Sans CN",
  "Noto Sans SC",
  "Source Han Sans TC",
  "Noto Sans CJK TC",
  "WenQuanYi Micro Hei",
  SimSun,
  sans-serif;
  cursor:default;
}

#root{
  height:100%;
}

.page{
  display:flex;
  width:100%;
  height:100%;

  .main{
    flex:1;
    min-height:100%;
    border-right:2px solid #CCC;
    overflow:auto;

    .tool{
      display:flex;
      padding:10px;
      border-bottom:1px solid #DDD;

      .select-c{
        width:20px;
        height:20px;
        background:url(select-c.png) no-repeat center;
        background-size:16px 16px;
        opacity:0.8;

        &:hover{
          background-color:#F0F0F0;
          opacity:1;
        }

        &.active{
          background-image:url(select-c-active.png);
        }
      }

      .select-e{
        margin-left:10px;
        width:20px;
        height:20px;
        background:url(select.png) no-repeat center;
        background-size:16px 16px;
        opacity:0.5;
        cursor:not-allowed;

        &.enable{
          opacity:0.8;
          cursor:default;

          &:hover{
            background-color:#F0F0F0;
            opacity:1;
          }

          &.active{
            background-image:url(select-active.png);
          }
        }
      }
    }
  }

  .side{
    width:300px;
    overflow:auto;
  }
}
